@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
  font-family: 'Montserrat', sans serif;
  font-size: 18px;
  margin: 0px;
  background-color: #E9E9D5;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;

}
h1{
  font-family: 'Montserrat', sans serif;
  font-weight: bold;
  color: white;

}
h2, h3{
  font-family: 'Montserrat', sans serif;
  font-weight: bold;
  color: #958053;
}

a{
  text-decoration: none;
}











